.footer {
    padding-top: 105px;
    padding-bottom: 145px;
    background-color: #245852;
}
.footer-column {
}
.footer-logo {
    margin-bottom: 15px;
}
.footer-munu {
    color: #fff;
}
.footer-menu-item {
    font-size: 25px;
    margin-top: 60px;
}
