.product {
    padding-top: 120px;
    padding-bottom: 240px;
}
.product-row {
    display: flex;
    justify-content: space-between;
    gap: 85px;
}
.product-img {
    max-height: 640px;
    position: relative;
}

.product-card {
    position: absolute;
    left: -60px;
    bottom: -75px;
    width: 295px;
    height: 295px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25);
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;


}

.customized-for {
    max-width: 110px;
    font-size: 14.5px;
    line-height: 157%;
    padding-bottom: 7px;
    border-bottom: 0.75px solid black;
    text-align: center;
    margin-bottom: 13.7px;
}
.product-card-img {
    margin-bottom: 10.5px;
}
.product-card-name {
    font-size: 12px;
    line-height: 157%;
    text-align: center;
    margin-bottom: 20px;
}
.product-card-title {
    width: 200px;
    font-family: "Georgia", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 157%;
    color: black;
    text-align: center;

}
.product-card-list {
    width: 180px;
    list-style: disc;
    
}
.product-card-list-item {
    font-size: 10.5px;
    margin-top: 16px;
    margin-left: 20px;
}


.product-subtitle {
    font-size: 25px;
    line-height: 150%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-title {
    max-width: 650px;
    font-family: "Georgia", serif;
    font-weight: 700;
    color: #01996D;
    font-size: 50px;
    line-height: 1.5em;
    margin-bottom: 20px;
}
.product-text {
    margin-bottom: 40px;
    max-width: 530px;
    line-height: 170%;
}
